
.campHeader {
    margin:25px;
    font-size: 18px;
    text-decoration: underline;

}

.teamImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: black;
}